<footer class="container-fluid mt-4">

    <!-- ACM logo -->
    <div class="container acm-logo">
        <img src="/Public/Assets/acm_logo.png" />
    </div>

    <!-- White border -->
    <p class="border-top border-white delimitator"></p>
    
    <!-- Social media -->
    <div class="container social-media">
        <ul class="list-group list-group-horizontal">
            <li> <a href="#"> <img id="github-logo" src="/Public/Assets/Github-logo-social-network.png" alt="Github logo" /> </a> </li>
            <li> <a href="#"> <img id="facebook-logo" src="/Public/Assets/facebook-logo-social-network.png" alt="Facebook logo" /> </a> </li>
            <li> <a href="#"> <img id="instagram-logo" src="/Public/Assets/instagram-logo-social-network.png" alt="Instagram logo" /> </a> </li>
        </ul>
    </div>
    
    <!-- Made with love -->
    <p class="fw-lighter text-center mt-3 text-white"> Made with love by © ACM Javeriana 2021 </p>
</footer>