<!-- Navbar -->
<div class="navbar navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-md-between justify-content-center">
        <!-- Image -->
        <div class="navbar-brand"> 
            <img src="/Public/Assets/header-image.png" alt="Header hashcat image"/>
        </div>
        <!-- Access buttons -->
        <div class="d-flex access-buttons">
            <button type="button" class="btn login btn-outline-primary me-4">Log in</button>
            <button type="button" class="btn sign-up btn-primary">Sign up</button>
        </div>
    </div>
</div>