/*---------  Main content  ------------*/ 
.main {
    height: 39.5rem;
}

/*---------  Enter Hashes form  ------------*/ 
form .form-group label {
    color: white !important; 
    font-weight: lighter;
    font-size: 1.8rem; 
}
textarea {
    max-height: 50vh !important; 
    color: white !important; 
    font-weight: 250 !important;
}

/*-------------  Attemp score  -----------*/ 
.attemp-score {
    width: 100%; 
    font-weight: lighter;
    font-size: 2rem; 
    margin-bottom: -1rem; 
}
.attemp-score span {
    font-weight: 350;
}