<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head information -->
    <%- include('../Partials/head'); %> 
    <!-- Stylesheet -->
</head>
<body>

    <header>
        <!-- Include Navbar -->
        <%- include('../partials/header'); %> 
    </header> 

    <!-- Main content -->
    <div>
        
    </div>

    <!-- Include footer -->
    <%- include('../partials/footer'); %> 
    
</body>
</html>