<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head information -->
    <%- include('../Partials/head'); %> 

    <!-- Navbar -->
    <link href="/Public/Css/Partials/header-logged-user.css" rel="stylesheet" /> 
    <!-- Footer -->
    <link href="/Public/Css/Partials/footer.css" rel="stylesheet" /> 

</head>
<body>

    <header>
        <!-- Include Navbar -->
        <%- include('../partials/header-logged-user'); %> 
        <style>
            h1 { color: #18A0FB;
                height: 8rem;
                font-size: 3.5rem;
                font-weight: lighter;  }
            h2 { color: white;
                height: 5rem;
                font-size: 2.5rem;
                font-weight: lighter; }
        </style>
    </header> 
    
    <div align="center"><h1>DEVELOPERS</h1></div>

    <div align="center">
    <img src="/Public/Assets/d_juancampos.PNG" alt="Developer Juan Campos" width="300px" height="300px"/>
    <h2>Juan Campos</h2>
    <img src="/Public/Assets/d_nicolas.jpg" alt="Developer Nicolas" width="300px" height="300px"/>
    <h2>Nicolas Gil</h2>
    </div>
    <div></div>
    <div align="center">
    <img src="/Public/Assets/d_stiven.jpg" alt="Developer Stiven" width="300px" height="300px"/>
    <h2>Stiven Ortiz</h2>
    <img src="/Public/Assets/d_diego.jpg" alt="Developer Diego" width="300px" height="300px"/>
    <h2>Diego Pardo</h2>
    </div>
    <div></div>

    <!-- Include footer -->
    <%- include('../partials/footer'); %> 

</body>
</html>