<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head information -->
    <%- include('../Partials/head'); %> 

    <!-- Navbar -->
    <link href="/Public/Css/Partials/header-logged-user.css" rel="stylesheet" /> 
    <!-- Footer -->
    <link href="/Public/Css/Partials/footer.css" rel="stylesheet" /> 

</head>
<body>

    <header>
        <!-- Include Navbar -->
        <%- include('../partials/header-logged-user'); %> 
    </header> 
    
    

    <!-- Include footer -->
    <%- include('../partials/footer'); %> 

</body>
</html>