<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head information -->
    <%- include('../Partials/head'); %> 
    <!----------- Stylesheet ---------->
    <!-- Ranking cards -->
    <link href="/Public/Css/Partials/ranking-card.css" rel="stylesheet" />
    <!-- Navbar -->
    <link href="/Public/Css/Partials/header-logged-user.css" rel="stylesheet" /> 
    <!-- Ranking page -->
    <link href="/Public/Css/Pages/ranking.css" rel="stylesheet" /> 
</head>
<body>
    <header>
        <!-- Navbar -->
        <%- include('../partials/header-logged-user', { type: '' }); %> 
    </header>


    <!-- Main content -->
    <div class="container-fluid mt-4 main">
        <!-- Page name -->
        <p class="text-white page-title"> Ranking : </p>
        <!-- Cards for the podium -->
        <% if (!contestants) { %> 
            <div class="d-flex justify-content-center align-items-center is-empty">
                <p class="text-white text-center text-muted"> No one have made any attemps yet :( </h1>
            </div>
        <% } else { %> 
            <div class="row d-flex justify-content-evenly">
                <% for (let i = 0; i < 5 && i < contestants.length; i++) { %> 
                    <%- include('../Partials/ranking-card', {contestant: contestants[i], place: i + 1}); %>  
                <% } %> 
        <% } %> 
    </div>

    <!-- Include footer -->
    <%- include('../partials/footer'); %> 
    
</body>

</html>